PORT=4001
AUTH0_DOMAIN=dev-icyc53hvag0w7sfw.us.auth0.com
AUTH0_AUDIENCE=https://internalsystem/
PROFILE_SERVICE_URL=localhost:5000
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=db_chat
